<!DOCTYPE html>
<html lang="en">


<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  
  <title>NUS KBB Login Page</title>
  <link rel="stylesheet" href="/static/login-page.css">
  
</head>

<body>
  <main id="main-holder">
    
    <img src="/static/logo.jpg" alt="NUS-ISS Logo">
    <h1 id="login-header">NUS KBB Login Page</h1>
    
    <div id="login-error-msg-holder" style="--opacityvalue: {{ovalue}};">
      <p id="login-error-msg">Invalid username <span id="error-msg-second-line">and/or password</span></p>
    </div>
    
    <div id="test-msg-holder">
      <p id="test-msg">[For testing purpose, the default username and pw is admin]</p>
    </div>

    <form id="login-form" action="/auth" method="post">
      <input type="text" name="username" id="username-field" class="login-form-field" placeholder="Username">
      <input type="password" name="password" id="password-field" class="login-form-field" placeholder="Password">
      <input type="submit" value="Login" id="login-form-submit">
    </form>
  
  </main>
</body>

<h2>{{ message }}</h2>


</html>